{% load widget_tweaks %}
{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Academy Center</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="daycare, management, students, children, school, software, online"/>
    <meta name="author" content=""/>
    <meta name="google-site-verification" content="nIDjv7sH442gXx6Qt-rgalmok_M30J9_1CAbg2oRrpk"/>
    <meta name="google" content="nositelinkssearchbox"/>
    <meta name="description" content="A online daycare management software."/>
    <meta property="og:title" content="Academy Center"/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113309326-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments)
        }

        gtag('js', new Date());
        gtag('config', 'UA-113309326-1');
    </script>

    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">

    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '/css/home.css' %}"/>

    {% block styles %}
    {% endblock %}
</head>
<body>

{% block body %}
    {% load static %}
    <section>
        <div class="container" style="max-width: 500px; margin-top: 10%;">
            <h3 class="display-5 text-center">{% block title %}Form{% endblock %}</h3>
            {% block form %}
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field |add_class:"form-control" }}
                        </div>
                    {% endfor %}
                    <button class="btn btn-primary btn-block" type="submit">{% block submit %}
                        Submit{% endblock %}</button>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </form>
            {% endblock %}
            {% block after_form %}{% endblock %}
        </div>
    </section>
{% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="{% static 'js/home.js' %}"></script>

{% block scripts %}
{% endblock %}
</body>
</html>

