{% extends 'dashboard/layout.html' %}
{% load static %}

{% block styles %}
    {{ super }}
    <link rel="stylesheet" href="{% static 'node_modules/fullcalendar/dist/fullcalendar.min.css' %}" type="text/css">
    <style>
        .event {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% load widget_tweaks %}
{% block content %}
    <div class="row">
        <div class="col-md-3 stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-2">Latest Attendance</h4>
                    <div class="report-types-list" style="overflow-y: auto; max-height: 70vh;">
                        <div class="list">
                            {% with object_list|dictsortreversed:"start" as list %}
                                {% for attendance in list %}
                                    <div class="card rounded mb-2 event"
                                         data-title="{{ attendance.title }}"
                                         data-color="{{ attendance.color }}"
                                         style="background-color: {{ attendance.color }}">
                                        <div class="card-body p-3">
                                            <div class="media">
                                                <div class="media-body">
                                                    <h6 class="text-white">{{ attendance.start.date }}</h6>
                                                    <small class="text-white">
                                                        {{ attendance.start.time }} - {{ attendance.end.time }}
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 stretch-card">
            <div class="card">
                <div class="card-body">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super }}
    <script src="{% static 'node_modules/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'node_modules/jquery-ui/ui/jquery-1-7.js' %}"></script>
    <script src="{% static 'node_modules/moment/moment.js' %}"></script>
    <script src="{% static 'node_modules/fullcalendar/dist/fullcalendar.min.js' %}"></script>
    <script src="{% static 'node_modules/jquery-ui-dist/jquery-ui.min.js' %}"></script>
    <script src="{% static 'node_modules/list.js/dist/list.min.js' %}"></script>
    <script>
        (function ($) {
            'use strict';
            $(function () {
                $('#calendar').fullCalendar({
                    header: {right: 'prev,next'},
                    navLinks: false,
                    editable: false,
                    droppable: false,
                    events: [
                        {% for report in object_list %}
                            {
                                'id': '{{ report.id }}',
                                'title': '{{ report.title }}',
                                'start': '{{ report.start.isoformat }}',
                                'end': '{{ report.end.isoformat }}',
                                'allDay': '{{ report.allDay }}',
                                'url': '{{ report.url }}',
                                'color': '{{ report.color }}',
                                'textColor': '{{ report.textColor }}'
                            },
                        {% endfor %}
                    ]
                });
            });
        })(jQuery);
    </script>
{% endblock %}